<!DOCTYPE HTML>
<html class="no-js">
<head>
    <!-- IE Force -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- DNS Prefetches -->
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    <!-- Charset -->
    <meta charset="utf-8">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Title -->
    <title>PongoWalallalalalalalalal haste net gesehn</title>

    <!-- Meta Tags -->
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Rebecca Zahor Design">
    <meta name="page-topic" content="">

    <!-- Facebook Metadata -->
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:title" content=""/>
    <meta property="fb:page_id" content=""/>
    <meta property="og:image" content=""/> <!-- 1200x628 -->
    <meta property="og:description" content=""/>
    <meta property="article:publisher" content="Rebecca Zahor Design">


    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png"> -->
    <!-- Icons erstellen: http://realfavicongenerator.net/ danach bitte entfernen -->

    <!-- CSS Files -->
    <!--<link rel="stylesheet" href="css/third/owl.carousel.min.css">-->
    <!--<link rel="stylesheet" href="css/third/owl.theme.default.min.css">-->
    <link rel="stylesheet" href="css/third/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main-style.css" media="screen"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--FontAwesome-->
    <script src="https://use.fontawesome.com/7973df216e.js"></script>

    <!-- Script Files -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script type="text/javascript" src="js/third/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="js/third/parallax/parallax.js"></script>-->
    <!--<script type="text/javascript" src="js/third/parallax/parallax.min.js"></script>-->

    <!--<script src="js/third/smooth-scroll.js"></script>-->
    <!--<script src="js/third/owl.carousel.min.js"></script>-->
    <script type="text/javascript" src="js/eventsApp.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>

<body ng-app="app" ng-controller="appController">

    <div class="container-wrapper">
        <div class="container">
            <div class="row-wrapper">
                <div class="row">
                    <div class="col-md-12" style="color: white">
                        <br>
                        <h1>Here you go, Bitch!</h1>
                        <h2>Here you go, Bitch!</h2>
                        <h3>Here you go, Bitch!</h3>
                        <h4>Here you go, Bitch!</h4>
                        <h5>Here you go, Bitch!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="header" class="video-hero m-b-lg">
        <div class="d-block no-hover-fx">
            <video autoplay muted loop class="video-background shadow" poster="img/poster.png">
                <!-- MP4 must be first for iPad! -->
                <source src="#" type="video/mp4"  /><!-- Safari / iOS, IE9 -->
                <source src="#" type="video/webm" /><!-- Chrome10+, Ffx4+, Opera10.6+ -->
                <source src="#" type="video/ogg"  /><!-- Firefox3.6+ / Opera 10.5+ -->
            </video>
        </div>
    </section>

    <section class="row" socl-scroll-view="true">
            <article class="col-md-12 text-center">
                <div class="events" ng-controller="eventsController">
                    <h3></h3>
                    <div class="row event-row" ng-repeat="event in events" ng-cloak ngrepeater>
                        <div class="col-md-3">
                            {{event.date | date:'dd.MM.yyyy'}}
                        </div>
                        <div class="col-md-3">
                            {{event.city}}
                        </div>
                        <div class="col-md-3">
                            {{event.location}}
                        </div>
                        <div class="col-md-3">
                            <a ng-if="!event.sold" ng-href="{{event.link}}" class="ticket-link" target="_blank">Tickets</a>
                            <span ng-if="event.sold" class="text-uppercase">Sold out</span>
                        </div>
                    </div>
                </div>
            </article>
    </section>


    <!-- parallax syntax -->

    <section>
        <div class="parallax-woman" data-parallax="scroll" data-speed="0.5" data-image-src="img/woman.jpg" alt="Frau - Hintergrundbild">
    </section>

    <div class="container-footer-wrapper">
        <footer class="container footer-container">
            <div class="row-footer-wrapper">
                <section class="row">
                    <div class="col-md-12 footer">
                        <div id="copyright" class="text-center small-font">
                            <strong>
                                Copyright &copy; 2018<a href="//www.rebeccazahor.de" target="_top"> Rebecca Zahor Design</a> All Rights Reserved.
                                <br>
                                <a href="#contact" target="_top">Kontakt</a> | <a
                                    href="impressum/index.html" target="_blank">Impressum</a>
                            </strong>

                        </div>
                    </div>
                </section><!-- ./ row -->
            </div> <!-- ./ Row Footer-Wrapper -->
        </footer> <!-- ./ container -->
    </div> <!-- ./ Container Footer-Wrapper -->

</body>
</html>
